<%- include("templates/header") %>

<h1>Hello, <%= name %>.</h1>
<div id="randomImg"></div>
<button id="signout" class="btn btn-outline-primary me-2">Sign out</button>
<!-- <div>
    <img src='/aussie.jpg' style='width:250px;'>
    <img src='/daschund.jpg' style='width:250px;'>
    <img src='/husky.jpg' style='width:250px;'>
</div> -->

<div class="row mb-3">
    <div class="col-md-4"><img src='/aussie.jpg' class="img-fluid"></div>
    <div class="col-md-4"><img src='/daschund.jpg' class="img-fluid"></div>
    <div class="col-md-4"><img src='/husky.jpg' class="img-fluid"></div>
</div>

<script>
    document.getElementById("signout")
        .addEventListener("click", () => {
            window.location.href = "/logout"
    });

    /*
    const id = Math.floor(Math.random() * 3) + 1;

    fetch('/img/' + id)
        .then(r => r.text())
        .then(html => {
            document.getElementById('randomImg').innerHTML = html;
    });
    */
</script>            

<%- include("templates/footer") %>